:root {
  --color-primary: #FFF; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  background-color: #FFF; }

header {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  background-image: url(../img/img-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  justify-items: flex-start; }
  header > * {
    margin-left: 10rem; }
    @media only screen and (max-width: 37.5em) {
      header > * {
        margin: 0 2rem; } }

::selection {
  background-color: var(--color-primary);
  color: #fff; }

.type__element,
.typed-cursor {
  font-family: 'Kalam', cursive;
  font-size: 8rem;
  color: var(--color-primary); }
  @media only screen and (max-width: 37.5em) {
    .type__element,
    .typed-cursor {
      text-align: center;
      font-size: 6.2rem;
      margin: 0 5px; } }

.social_list {
  display: flex;
  width: auto;
  list-style: none;
  margin-top: 3rem;
  padding: 0 .5rem; }
  @media only screen and (max-width: 37.5em) {
    .social_list {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center; } }
  .social_list__icon-box {
    position: relative;
    cursor: pointer; }
  .social_list__icon {
    width: 3.25rem;
    height: 3.25rem;
    fill: var(--color-primary); }
    @media only screen and (max-width: 112.5em) {
      .social_list__icon {
        width: 4.25rem;
        height: 4.25rem; } }
  .social_list__item:not(:last-child) {
    margin-right: 2rem; }

.logo {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3rem;
  transition: all 1s linear;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      margin: 1rem;
      bottom: 91.5%; } }
  .logo__icon {
    height: 6.5rem;
    width: 6.5rem;
    margin: auto -5px;
    margin-bottom: -5px; }
    @media only screen and (max-width: 37.5em) {
      .logo__icon {
        height: 4.5rem;
        width: 4.5rem;
        margin: 1px;
        margin: auto -1px;
        margin-bottom: -1.2px; } }
