@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}

:root {
  // COLOR VARIABLES
  --color-primary: #2c2c2c;
}

$font-primary: "Kalam", cursive;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(medium) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  background-color: #EEEEF8;
}

header {
	box-sizing: border-box;
	position: relative;

  height: 100vh;
  background-image: url(../img/img-1.jpg);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  justify-items: flex-start;

  & > * {
    margin-left: 10rem;

    @include respond(small) {
			margin: 0 2rem;
		}
  }
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}
