.social_list {
  display: flex;
  width: auto;
  list-style: none;
  margin-top: 3rem;
  padding: 0 .5rem;

  @include respond(small) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }


  &__icon-box {
    position: relative;
    cursor: pointer;
  }

  &__icon {
    width: 3.25rem;
    height: 3.25rem;
    fill: var(--color-primary);

    @include respond(medium) {
      width: 4.25rem;
      height: 4.25rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.logo {
	opacity: .5;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3rem;
	transition: all 1s linear;

  @include respond(small) {
    margin: 1rem;
    bottom: 91.5%;
  }


  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;

  &__icon {
    height: 6.5rem;
    width: 6.5rem;
    margin: auto -5px;
    margin-bottom: -5px;

    @include respond(small) {
      height: 4.5rem;
      width: 4.5rem;
      margin: 1px;
    	margin: auto -1px;
    	margin-bottom: -1.2px;
    }
  }
}
